#red {
    color: red;
}

#highlight:hover {
    color: rgb(133, 172, 224);
    transition: .6s ease-out;
}


/* Since there's only 1 navbar this can technically just use .dropdown-menu  */
.navbar-nav > li > .dropdown-menu {
     background-color: #292b2c; 
}

.dropdown-item {
    color: white;
    
}

/* Animation Cursor*/
.txt-type > .txt {
    border-right: .02rem solid #777;
}
h1 {
    font-weight: 200;
}

/* <h1 class:display-4> had priority over @media so had to be removed */
@media(min-width:1200px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 3rem;
    }
}

@media(max-width:500px) {
    h1 {
        font-size: 1.75rem;
    }
}